@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: IBM Plex Sans, "Courier New", monospace;
}

.text-input {
  @apply mt-1 block w-full bg-transparent text-white font-medium py-2 border-b-1.5 border-white text-sm shadow-sm placeholder-slate-100 placeholder:font-medium placeholder:uppercase
      focus:outline-none focus:border-b-white autofill:!-webkit-input caret-white
      disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
      invalid:border-pink-700 invalid:text-pink-700
      focus:invalid:border-pink-700 focus:invalid:ring-pink-700;
}
